
<section class="singup-page">

    <section class="image-form">
        <img src="/images/dollars2.jpg" alt="form image">
    </section>
    <section class="singup">


        <div class="singupContainer">
            <form action="/login" method="POST">

            <label for="username">User Name</label>
            <input class="form" type="text" name="username" required>
            
            <label for="password">Password</label>
            <input class="form"type="password" name="password" required>

            <button type="submit"> Log in</button>
            </form>

            <p class="registered">Dont have an account yet? <a href="/singup">Register here!</a></p>
        </div>


        {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
        {{/if}}
    </section>

    
    

</section>