<section id="intro">
    <div id="logo-container">
        <img src="/images/output-onlinepngtools (5).png" alt="logo" class="logo-img">
        <h1>CRYPTOCOIN</h1>
    </div>
    <div id="info-container">
        <div id="text-container">
            <h2 id="subtitle">Cryptocurrency transactions simplified</h2>
            <h2 id="catchphrase">keep track of all your transactions and real time prices</h2>
            <div id="btn-container">
                <a href="/singup" id="singup-btn">Register</a>
                <a href="/login" id="login-btn">Log in</a>
            </div>
        </div>
        <div id="img-container">
            <img src="/images/laptop.png" alt="laptop mockup" id="laptop">
            <img src="/images/mercados.png" alt="mercados" id="mercados">
        </div>
    </div>
</section>


