<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{title}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>

   <body>

           <!-- 
      <header>
       
         <nav>
            <div >
                <h3 id="title"><span>CRYPTO</span>COIN</h3>
            </div>
            <ul>
               <li><a href=""> <img src="/images/home.png" class="nav-logo"> </a></li>
               <li><a href=""> <img src="/images/bank.png" class="nav-logo"> </a></li>
               <li><a href=""> <img src="/images/charts.png" class="nav-logo"> </a></li>
            </ul>
         </nav>
        
      </header>
         -->
      

              {{{body}}}
        



      <script src="/js/script.js"></script>
   </body>

</html>