@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;300;500;700&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color:   rgb(22,26,29);
  
}

a {
  color: rgb(34, 177, 76);
}

/* ===============
 INTRO SECTION
=============== */

#intro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(22,26,29);
  height: 100vh;
}
#info-container{
  display: flex;
  
}
#text-container{
  width: 500px;
  margin-right: 100px;
}
#img-container{
  position: relative;
  width: 500px;
  height: 500px;
  background-color:rgb(72, 158, 98); ;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 10px rgb(34, 177, 76);
}
#subtitle{
  color: rgb(34, 177, 76);
  font-family: arial;
  font-size: 55px;
  margin-top: 100px;
}
#catchphrase{
  color: rgb(179, 179, 179);
  font-family: arial;
  font-weight: lighter;
  font-size: 20px;
  margin-top: 20px;

}
#logo-container{
  display: flex;
  align-items: center;
  margin-bottom: 120px;
  color: rgb(34, 177, 76);
  font-family: arial;
}

.logo-img{
  width: 50px;
  height: 50px;
  margin-right: 5px;
}

#laptop{
  width: 550px;
  height: 350px;
}
#mercados{
  position:absolute;
  top:152px;
 
  width: 289px;
  height: 189px;
}

#btn-container{
  display: flex;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
}
#singup-btn,
#login-btn{
  text-decoration: none;
  font-family: arial;
  font-weight: bold;
  color: rgb(179, 179, 179);
  padding: 10px 30px;
  border: 3px solid rgb(34, 177, 76);
  border-radius: 30px;
  transition: 0.4s ease;
  margin-right: 20px;

}
#singup-btn:hover,
#login-btn:hover{
  transform: translateY(10px);
  color: white;
  background-color: rgb(34, 177, 76);
}
#singup-btn{
  padding: 10px 20px;
}

header{
  height: 10vh;
  width: 100vw;
  background-color: rgba(45,49,52, 0.3);
}

/* ===============
   SING UP FORM
   =============== */
  
  article{
    height: 86vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .singup-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
  }
   .singup{
     width: 500px;
     height: 500px;
     top:155px;
     right: 500px;
     background-color: rgba(45, 49, 52, 0.925) ;
     display: flex;
     justify-content: center;
     align-items: center;
   }

   .image-form{
     width: 500px;
     height: 500px;
     
   }
   .image-form img{
     width: 500px;
     height: 500px;
     
   }
   
   .singupContainer form{
     font-family: "libre franklin";
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: flex-start;
     color: rgb(179, 179, 179) ;
   }
   .form{
     border:none;
     margin: 10px 0 10px 0;
     border-bottom:1px solid rgb(179, 179, 179);
     background-color:rgba(45,49,52, 0.3) ;
     color: rgb(179, 179, 179);
     outline: none;
   }
   .singupContainer {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;

   }

   .registered{
    color:rgba(179, 179, 179, 0.589);
    margin-top: 20px;
    font-family: "libre franklin";
   }

   .error{
     padding: 10px 30px;
     color: white;
     background-color: red;
   }

  
   /* ===============
     COIN PAGE STYLES
   =============== */  

   #page-head{
     
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 100px;
     background-color:rgba(45,49,52, 0.3) ;

   }
   #logo-containers{
    display: flex;
    align-items: center;
    color: rgb(34, 177, 76);
    font-family: arial;
   }

   nav{
    background-color:rgba(45,49,52, 0.3) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 86vh;
    width: 135px;
   }
  .nav-link{
    margin-bottom: 50px;
  }

   .nav-icon{
     width: 60px;
     height: 60px;
     transition: 0.5s ease;
   }
   .nav-icon:hover{
     width: 80px;
     height: 80px;
     
   }

   main{
     display: flex;
   }

   #table-container{
     display: flex;
     justify-content: center;
     align-items: flex-start;
     
     width: 94vw;
   }

   table{
     color:rgba(179, 179, 179, 0.849);
     margin-top: 50px;
     background-color: rgba(45,49,52, 0.3);
     font-family:  "libre franklin";
   }
   th,
   td{
     border:none;
     border-bottom:1px solid rgba(179, 179, 179, 0.589);
     width: 200px;
     padding:10px 30px;
     text-align: center;
     background-color: rgba(45,49,52, 0.3);
   }
   th{
     color:rgb(199, 199, 199) ;
   }
   .coin-logo{
    width: 18px;
    height: 18px;
   }

   #filters{
     position: absolute;
     top:150px;
     left:180px;
     height: 20vh;
     width: 200px;
     background-color: rgba(45,49,52, 0.3);
     display: flex;
     flex-direction: column;
    
     align-items: center;
   }

   #search-bar{
     
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 20px;
   }
   #search-form{
     height: 30px;
     margin:0;
     background-color: rgba(45,49,52, 0.3);
    }
    
    .search-btn{
     cursor: pointer;
     width: 30px;
     height: 30px;
     margin:0px;
   }

   #page-container{
     display: flex;
     width:300px;
     height: 20px;
     position:absolute;
     top: 680px;
     right: 490px;
     
   }
   #page-container p{
    color:rgb(199, 199, 199);
    font-family:  "libre franklin";
    padding-right: 10px;
   }
   #page-container a{
    text-decoration: none;
    color:rgb(199, 199, 199);
    font-family:  "libre franklin";
    padding-right: 10px;
   }

    /* ====================================
          TRANSACTIONS PAGE STYLES
   ========================================*/  
   
   #transaction-container{
     margin:20px;
     width: 85vw;
     height:75vh;
     position: absolute;
     top: 125px;
     right: 25px;
     background-color: rgba(45,49,52, 0.3);
    }
    
   #add-transaction{
     border: 1px solid rgb(199, 199, 199);
     margin: 30px;
     height: 50px;
     display: flex;
     justify-content: center;
     align-items: center;
     color:rgb(199, 199, 199);
     font-family:"libre franklin"
    }
    
    #add-transaction input,select, button {
    color:rgb(199, 199, 199);
    margin:0 20px;
    font-family:"libre franklin";
    border:none;
    background-color: rgba(45, 49, 52, 0);
   }
   #add-transaction select{
     color:white;
     background-color: rgba(22, 26, 29, 0.452)
    }
    #add-transaction button{
      cursor: pointer;
      border: 1px solid rgba(199, 199, 199, 0.712);
      padding:5px 10px;
      font-size: 10px;
    }
    
    #trans-back{
      background-color: rgb(22,26,29);
      position: absolute;
      top:120px;
      left: 35px;
      height: 55vh;
      width: 80.5vw;
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      align-items: center;
    }
    
    #trans-back::-webkit-scrollbar {
      width: 1em;
    }
    
    #trans-back::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
    
    #trans-back::-webkit-scrollbar-thumb {
      background-color: rgb(66, 69, 71);
      outline: none;
    }
    .trans-card{
      height: 30px;
      width: 95%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: rgba(45,49,52, 0.3);
      color:rgba(199, 199, 199, 0.712);
      font-family:"libre franklin";
      margin: 10px 0;
      
  }
  .trans-text{
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .trans-text p{
    text-align: center;
  }
  .delete-icon{
    height: 22px;
    width: 22px;
    margin-right: 20px;
    cursor: pointer;
  }
  
  #trans-form{
    height: 30px;
    width: 95%;
    position:absolute;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:rgba(199, 199, 199, 0.712);
    font-family:"libre franklin";
    margin: 10px 0;
  }
  #trans-form input{
    height: 25px;
    background-color: rgba(45, 49, 52, 0.61);
    border:none;
    outline: none;
    color:rgba(199, 199, 199, 0.712);
    text-align: center;
  }
  
      /* ====================================
              CHARTS PAGE STYLES
     ========================================*/  

     #canvas-container{
       width:1300px;
      height: 540px;
       
     }

     #myChart{
       width: 40px;
       height: 40px;
       
     }


  
  
  