<header id="page-head">
    <div id="logo-containers">
        <img src="/images/output-onlinepngtools (5).png" alt="logo" class="logo-img">
        <h1>CRYPTOCOIN</h1>
    </div>

    <a href="/logout"> Log out</a>
</header>
<main>
    <nav>
        <a href="/home" class="nav-link"> <img src="/images/home.png" class="nav-icon"></a>
        <a href="/transactions" class="nav-link"> <img src="/images/bank.png" class="nav-icon"></a>
        <a href="/charts"class="nav-link"> <img src="/images/charts.png" class="nav-icon"></a>
    </nav>
   <section id="transaction-container">

        <div id="canvas-container">

            <canvas id="myChart" width="1300" height="540"></canvas>
        </div>
        

   </section>